{# empty Twig template #}
{# On étend le layout principal #}
{% extends "::layout.html.twig" %}

{% block title %} 
  {{ parent() }} - Cours
{% endblock %}

{% block body %}
    
    <div class="container-fluid well">
        
         <div class="panel panel-default">
            <div class="span4 offset1">
            {{cours.presentation|raw }}
            </div>
        </div>
    </div>
   <form class="form-horizontal" method="POST" action="">    
    <div class="form-group">
        <div class="col-md-2" align="left">
        <a href="{{ path('moocline_cours_edition', {'id':cours.id})}}" class="btn btn-block btn-lg btn-primary">Modifier</a>
        </div>
    </div>    
   </form>
        <br><br>
    
    
 
 {% endblock %}