{# empty Twig template #}
{# On étend le layout principal #}
{% extends "::layout.html.twig" %}

{% block title %} 
  {{ parent() }} - Cours
{% endblock %}

{% block body %}
    

    <div class="container">
        <div class="centered-form">
            <div class="col-sm-offset-2 col-md-offset-2">
            {{ cours.presentation|raw }}
            </div>
            <div class="col-md-2 col-md-offset-8">
                {% if inscrie %}
             <a href="{{ path('dashboard_Etudiant', {'id':app.user.id})}}" class="btn    btn-primary">retour</a>        
                 {% else %}   
        <a href="{{ path('moocline_cours_inscription', {'id':cours.id})}}" class="btn  btn-primary">s'inscrire au cours</a>
        {% endif %}
        </div>
        </div>
        
         
    </div>
   

    
    {% endblock %}