<!DOCTYPE html>
<html lang="fr">
      <head>
	<meta charset="utf-8">
    	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
    	<title>Nous Contacter</title>

    	<!-- Bootstrap -->
    	<link href="./bootstrap.min.css" rel="stylesheet">
      </head>

      <body>

	<form class="form-horizontal">
		<fieldset>

		<!-- Form Name -->
		<legend>Nous contacter</legend>

		<!-- Text input-->
		<div class="control-group">
		   <label class="control-label" for="email">Email</label>
		   <div class="controls">
		       <input id="email" name="email" placeholder="veuillez entrer votre email" class="input-xlarge" required="" type="text">
		   </div>
		</div>

		<!-- Text input-->
		<div class="control-group">
		  <label class="control-label" for="nom_prenom">Nom &amp; Prenom</label>
		  <div class="controls">
		     <input id="nom_prenom" name="nom_prenom" placeholder="veuillez entrer votre nom et votre prénom" class="input-xlarge" required="" type="text">
                  </div>
		</div>

		<!-- Text input-->
		<div class="control-group">
		  <label class="control-label" for="tel">Téléphone</label>
		  <div class="controls">
		    <input id="tel" name="tel" placeholder="veuillez entrer votre téléphone" class="input-xlarge" required="" type="text">  
		  </div>
		</div>

		<!-- Select Basic -->
		<div class="control-group">
		  <label class="control-label" for="type">Vous êtes</label>
		  <div class="controls">
		    <select id="type" name="type" class="input-xlarge">
		      <option>Option one</option>
		      <option>Option two</option>
		    </select>
		  </div>
		</div>

		<!-- Select Basic -->
		<div class="control-group">
		  <label class="control-label" for="sujet">Sujet</label>
		  <div class="controls">
		    <select id="sujet" name="sujet" class="input-xlarge">
		      <option>Option one</option>
		      <option>Option two</option>
		    </select>
		  </div>
		</div>

		<!-- Text input-->
		<div class="control-group">
		  <label class="control-label" for="type_autre">Autre</label>
		  <div class="controls">
		    <input id="type_autre" name="type_autre" placeholder="" class="input-xlarge" required="" type="text">
		    
		  </div>
		</div>

		<!-- Text input-->
		<div class="control-group">
		  <label class="control-label" for="taille">Taille Organisation</label>
		  <div class="controls">
		    <input id="taille" name="taille" placeholder="taille de votre organisation, laissez cas echéant" class="input-xlarge" type="text">
		    <p class="help-block">proximation accepté</p>
		  </div>
		</div>

		<!-- Textarea -->
		<div class="control-group">
		  <label class="control-label" for="message">Message</label>
		  <div class="controls">                     
		    <textarea id="message" name="message"></textarea>
		  </div>
		</div>

		</fieldset>
	</form>

	</body>
</html>


