{# src/moocline/CompteBundle/Resources/views/Register/index.html.twig #}

<!DOCTYPE html>
<html>
  <head>
    <title>Page Test</title>
  </head>
  <body>
    <h1>Hello {{ nom }}!</h1>

    <p>
      Bonjour {{ prenom }} {{ nom }}, voici votre pseudo : {{ pseudo }}
    </p>
  </body>
</html>
