{# empty Twig template #}
{# On étend le layout principal #}
{% extends "::layout.html.twig" %}

{% block title %} 
  {{ parent() }} - Chapitre
{% endblock %}

{% block body %}
    
    <div class="container-fluid well">
        
         <div class="panel panel-default">
            <div class="span4 offset1">
            {{chapitre.contenu|raw }}
            </div>
        </div>
    </div>
   <form class="form-horizontal" method="POST" action="">    
    <div class="form-group">
        <div class="col-md-2" align="left">
        <a href="{{ path('moocline_chapitre_edition', {'id':chapitre.id})}}" class="btn  btn-primary">Modifier</a>
        <a href="{{ path('dashboard_Enseignant', {'id':app.user.id})}}" class="btn  btn-primary">retour</a>
        </div>
    </div>    
   </form>
        <br><br>
    
    
 
 {% endblock %}